/* =========================================
   FOOTER - PAR DÉFAUT (TÉLÉPHONE - MOBILE FIRST)
   ========================================= */

.main-footer {
    background-color: var(--bg-card);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 70px;
    display: none;


    .brand {
        display: flex;
        align-items: center;
        justify-content: center;

        .logo-container {
            background-color: var(--primary);
            border-radius: 10px;
            height: 35px;
            margin-right: 10px;
            padding: 2px;

            .brand-logo {
                height: 100%;
                width: 100%;
            }
        }

        .brand-title {
            color: var(--primary);
            font-size: 20px;
            font-weight: 500;
            margin: 0;
            letter-spacing: 0.5px;
        }
    }

    .footer-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        .footer-item {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            img {
                filter: invert(45%) sepia(10%) saturate(220%) hue-rotate(185deg) brightness(95%) contrast(85%);
            }

            .footer-link {
                text-decoration: none;
                color: var(--text-muted);
                font-size: 14px;
                font-weight: 500;
                transition: color 0.3s ease;

                &:hover {
                    color: var(--primary);
                }
            }
        }
    }
}

/* =========================================
   FOOTER - ORDINATEUR & TABLETTE (Dès 768px)
   ========================================= */

@media (min-width: 1000px) {
    .main-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 40px;
        margin-bottom: 0;
        border-top: 2px solid var(--text-muted);
        width: 100%;

        .brand {
            .logo-container {
                height: 45px;
            }

            .brand-title {
                font-size: 25px;
            }
        }

        .footer-nav {
            flex-direction: row;
            gap: 30px;

            .footer-item {
                .footer-link {
                    font-size: 16px;
                }
            }
        }
    }
}