app-header-auth {
  width: 95%;
  max-width: 420px;
  /* Même taille que la carte mobile */
  margin: 20px auto 20px auto;

  /* On utilise display block pour s'assurer qu'il prenne bien la largeur */
  display: block;

  @media (min-width: 768px) {
    max-width: 500px;
    /* Même taille que la carte tablette */
  }

  @media (min-width: 1024px) {
    max-width: 650px;
    /* Même taille que la carte ordinateur */
  }
}

.error-message {
  color: var(--text-alert);
  font-size: 13px;
  margin-left: 5px;
  animation: fadeIn 0.3s ease;
  font-family: var(--font-principale);
  font-weight: 700;
  text-align: center;
}

.login-card {
  /* STYLES MOBILE (Par défaut) */
  background-color: var(--bg-card, #FFFFFF);
  border-radius: 16px;
  padding: 20px 25px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
  width: 95%;
  max-width: 420px;
  min-width: 300px;
  margin: 20px auto 20px auto;

  .subtitle {
    color: var(--text-muted, #595959);
    font-size: 16px;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  .forgot-link {
    display: block;
    text-align: center;
    color: var(--text-muted, #595959);
    font-size: 12px;
    text-decoration: none;
    transition: color 0.2s;
    cursor: pointer;

    &:hover {
      color: var(--text-main, #242424);
      text-decoration: underline;
    }
  }

  /* TABLETTE (768px et plus) */
  @media (min-width: 768px) {
    max-width: 550px;
    padding: 40px 50px;
    margin-top: 20px;

    .subtitle {
      font-size: 18px;
      margin-bottom: 30px;
    }

    form {
      gap: 15px;
    }

    .forgot-link {
      font-size: 14px;
    }
  }

  /* ORDINATEUR (1024px et plus) */
  @media (min-width: 1024px) {
    margin-top: 20px;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.08);
  }
}