:host {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn-delete {
    border: 1px solid var(--text-alert);
    color: var(--text-alert);


    img {
        filter: invert(34%) sepia(85%) saturate(7460%) hue-rotate(349deg) brightness(95%) contrast(85%);
    }

    &:hover {
        opacity: 1;
        background-color: rgba(211, 47, 47, 0.05);
        /* Fond rouge très léger au survol */
        transform: scale(1.05);
    }
}

button {
    flex: 1;
    /* Force les deux boutons à prendre exactement 50% de l'espace restant */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    font-family: var(--font-principale);
    transition: all 0.2s ease-in-out;
    background-color: var(--bg-app);
    font-family: inherit;
    max-width: 300px;

    p {
        margin: 0;
        font-weight: 500;
    }

    img {
        width: 20px;
        height: 20px;
        object-fit: contain;

    }
}